# Configurações do Casamento
NEXT_PUBLIC_ADMIN_PASSWORD=3781l@m@

# Cloudinary (para upload de imagens)
# NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=seu_cloud_name
# CLOUDINARY_API_KEY=sua_api_key
# CLOUDINARY_API_SECRET=sua_api_secret

# Supabase (obrigatório para persistência real)
NEXT_PUBLIC_SUPABASE_URL=sua_url_do_supabase
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua_chave_anon_do_supabase
DATABASE_URL=postgresql://postgres:[SENHA]@[HOST]:5432/postgres
